soma-serv.service
torrents/**
certs/**
logs/**
node_modules
passcode.json
users.json
*.crt
*.csr
*.key
public/**
youtube
youtube/**
wiki
wiki/**
uploads
uploads/**
soma-serv.json
assets/apple-touch-icon-precomposed.png
assets/apple-touch-icon.png
assets/favicons
assets/favicon.ico
assets/favicon-128.png
build
backup.sh
deploy.sh
users-upload.sh

