torrents/**
certs/**
logs/**
node_modules
passcode.json
users.json
*.crt
*.csr
*.key
public/**
wiki
wiki/**
soma-serv.json
assets/apple-touch-icon-precomposed.png
assets/apple-touch-icon.png
assets/favicons
assets/favicon.ico
build
backup.sh
deploy.sh
