<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=SOCIAL_TITLE%></title>
    <%include "template.meta.html"%>
    <style>
        <%include "style.css"%>
    </style>
</head>
<body style="padding: 0; margin: 0;" >
  <div id="page" style="max-width: 100%; width: 100%; height: 100vh; height: 100dvh; display: flex; flex-direction: column; padding: 0; margin: 0;">
    <div id="page-title" style="max-width: 100%; width:100%; background:#333; color: #fff; margin: 0;">
      <div class="heading-container" style="">
        <div class="heading-backbutton">
          <a href="<%=BACKBUTTON_PATH%>"><img style="margin-left: -5px; visibility:<%=BACKBUTTON_VISIBILITY%>" src="<%=BACKBUTTON_IMAGE%>">&nbsp;&nbsp;</a>
        </div><div class="heading-left">
          <!--  Problem:  We use CSS "direction: rtl;" in order to get the left-hand elipsis effect when the path text overflows...
                - Text like "my/path/to" is strongly LTR, so it doesn’t visually reverse when direction: rtl; is applied.
                - The leading / character is a "weak" directional character, it follows the direction: rtl hint, flips to the other side.
                - To force the leading / character to be "strongly LTR" also, use a "hidden" leading Unicode control character &#x200E
          -->
          <span dir="ltr" class="heading-left-child left-ellipsis">&#x200E<%=PAGE_TITLE%></span>
        </div><div class="heading-right">
          <%=SEARCH%>
        </div><div class="heading-right">
          &nbsp;<%=TITLE%><BR><%=USER_LOGOUT%>
        </div>
      </div>
    </div>
    <div id="page-body" class="scroll-parent" style="flex-grow: 1; padding: 0; margin: 0">
      <ul class="<%=SCROLL_CLASS%>" style="padding: 0; padding-top: 0; margin-top: 0.5em">
      <%=BODY%>
      </ul>
    </div>
  </div>
</body>
</html>
